<md-dialog style="width:40%; height:70%"> 
<md-toolbar  class="md-white" layout-padding>
    <div class="md-toolbar-tools">
    <h1 style="color:white">DO BOOND !!</h1>
    <span flex></span>
    </div>
</md-toolbar>
<md-content layout-padding>
<h1>Login</h1>
<form name="myform">
	<md-input-container  >
        <input type="text" name="username" ng-model="user.username" placeholder="Username" ng-required="true" md-autofocus>
        
      </md-input-container>
    <md-input-container >
      <!-- Use floating placeholder instead of label -->
      
      <input name="password" ng-model="user.password"   type="password" placeholder="Password " ng-required="true">
    </md-input-container>
    <span flex></span><md-button type="submit" class="md-raised" ng-disabled="!(myform.username.$valid && myform .password.$valid)" ng-click="ctrl1.parent.login(user); answer('loggedIn')">Login</md-button><md-button class="md-raised" type="reset" ng-click="answer('cancel')">Cancel</md-button>
</form>
</md-content>
</md-dialog>