<!DOCTYPE html>
<html ng-app="DoBoondApp" ng-controller="mainCtrl">

<head>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  <link rel="stylesheet" href="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1"><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <title>Do Boond!!</title>

</head>
<body>
  <md-toolbar>
    <div class="md-toolbar-tools colored">
       <span flex class="flex"></span>
       <div> some more options (TBD)</div> 
    </div>
      <div class="md-toolbar-tools colored" >
        <h2>
          <span style="color:white">DO BOOND !! </span>
        </h2>
        <span flex class="flex"></span>
        <span class="md-subhead" ng-show="isLoggedIn()" >Hello<b> {{name}} </b></span>
        <span layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" aria-label="View Cart">
                <md-icon md-svg-src="images/icons/cart.svg"></md-icon>
                CART <strong>{{cartStatus()}}</strong>
            </md-button>
        </span>
        <div ng-show="isLoggedIn()" >
        
        <md-button  class="md-raised md-warn" aria-label="Logout" ng-click="logout()">
          logout
        </md-button>

        </div>
        <div ng-hide="isLoggedIn()">
            <md-button ng-click="showDialog('partials/login.html','ctrl1')" class="md-raised md-warn">LOGIN</md-button> 
            <md-button ng-click="showDialog('partials/register.html','ctrl2')" class="md-raised md-warn">SIGN UP</md-button>
        </div>
      </div>
    </md-toolbar>
    <md-content layout-padding layout-wrap>
        <!--div ng-show="isLoggedIn()" ng-include="path"-->
        
        <div ng-init= "init()">
        <div ng-repeat=" product in products" class="column">
        <md-card md-theme-watch>
                <md-card-title class="col-head">
                  <md-card-title-text>
                    <span class="md-title">{{product.productName}}</span>
                    <span class="md-subhead">RS. {{product.ProductBasePrice}}</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between">
                  <div class="md-media-xl card-media"><img src="images/images/{{product.UPC}}.jpeg" class="col-pic"></div>

                  <md-card-actions layout="column">
                    <md-button class="md-icon-button" aria-label="Add to Cart" >
                        <md-icon md-svg-icon="images/icons/cart.svg"></md-icon>
                    </md-button>
                  </md-card-actions>
                </md-card-content>
        </md-card>
        </div>
        
        </div>
      <!-- <div layout="row" layout-align="center center" ng-cloak> -->
        <!-- <h4>Since <code>clickOutsideToClose = false</code>, drag down or press ESC to close</h4> -->
      <!-- </div> -->
      <div >
            <p>End of page</p>
        </div>
      
      <div class="md-grid" layout="column">
        <md-list flex layout="row" layout-align="center center">
          <md-list-item ng-repeat="item in items">
            <div>
              <md-button class="md-grid-item-content" >
                <md-icon md-svg-src="images/icons/social/{{item.icon}}.svg"></md-icon>
                <div class="md-grid-text"> {{ item.name }} </div>
              </md-button>
            </div>
          </md-list-item>
        </md-list>
        </div>
         
    </md-content>
    

</body>
</html>